@using SynergisticBlog.Security;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Submit", "Comment"))
{   
    <img src="/CaptchaImage/Render?challengeGuid=@ViewData["challengeGuid"]" />
    <input type="hidden" name="myCaptcha" id="myCaptcha" value="@ViewData["challengeGuid"]" />
    <div>Please enter the letters</div>        
    <div>@Html.TextBox("attempt")</div>
    <div><input type="submit" value="submit" /></div>
}    
