@using SynergisticBlog.Security;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section menu {
<ul class="tabs">
    <li id="page-login" class="active">
        <a style="cursor: pointer;">About</a>
    </li>
    <li>
        @Html.ActionLink("Back", "Index", "Home")
    </li>
</ul>
}

@using (Html.BeginForm("Submit", "Comment"))
{   
    <img src="/CaptchaImage/Render?challengeGuid=@ViewData["challengeGuid"]" />
    <input type="hidden" name="myCaptcha" id="myCaptcha" value="@ViewData["challengeGuid"]" />
    <div>Please enter the letters</div>        
    <div>@Html.TextBox("attempt")</div>
    <div>
        <!--<input type="submit" value="submit" />-->
        <button class="on"><span class="label">Submit</span></button>
    </div>
}    
