@model string
@using SynergisticBlog.Security;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section menu {
<ul class="tabs">
    <li id="page-login" class="active">
        <a style="cursor: pointer;">Contact</a>
    </li>
    <li>
        @Html.ActionLink("Back", "Index", "Home")
    </li>
</ul>
}

@if (!string.IsNullOrEmpty(Model))
{
    <div style="color: #0094ff;">Model</div>
}
<div id="formContainer">
@using (Html.BeginForm("SendMail", "Contact", new { id = "formContact" }, FormMethod.Post))
{   
    <div class="editor-label">
        <label>Your Name</label>
    </div>
    <div class="editor-field">
       <input class="text" id="GuestName" name="GuestName" type="text" value="" />
    </div>
    
    <div class="editor-label">
        <label>Your Email</label>
    </div>
    <div class="editor-field">
       <input class="text" id="GuestEmail" name="GuestEmail" type="text" value="" />
    </div>

    <div class="editor-label">
        <label>Message</label>
    </div>
    <div class="editor-field">
        <textarea id="MsgContent" name="MsgContent"></textarea>        
    </div>
    
    <div class="editor-label">
        <label>Prevent Spam</label>
    </div>
    <img src="/CaptchaImage/Render?challengeGuid=@ViewData["challengeGuid"]" />
    <input type="hidden" name="challengeGuid" id="challengeGuid" value="@ViewData["challengeGuid"]" />
    <div>Please enter the letters above</div>     
    <input class="text" id="attemptedText" name="attemptedText" type="text" />    
    
    <div>
        <a id="btnSendMesg" class="button middle" style="cursor: pointer;"><span class="icon icon125"></span><span class="label blue">Send Message</span></a>
        <br style="clear:both;" />
    </div>
    <div>@Html.ActionLink("Back to Blog", "Index", "Home")</div>               
}
</div>
<div id="lblContactStatus" style="display:none;">

</div>    

<script>    
    $('#btnSendMesg').click(function () {
        $.ajax({
            url: '/Contact/SendMail',
            type: 'post',
            dataType: 'json',
            traditional: true,
            data: {
                'GuestName': $('#GuestName').val(),
                'GuestEmail': $('#GuestEmail').val(),
                'MsgContent': $('#MsgContent').text(),
                'challengeGuid': $('#challengeGuid').val(),
                'attemptedText': $('#attemptedText').val()
            },
            success: function (data) {
                if (data.status == 'Sent') {
                    $('#lblContactStatus').text('Your contact message has been sent!').css({ 'display': 'block' });
                    $('#formContainer').css({ 'display': 'none' });
                } else {
                    location.reload(true);
                }
            },
            statusCode: {
                404: function () {
                    alert("page not found");
                }
            }
        });
    });   
</script>