@model SynergisticBlog.Models.Post
@using MarkdownSharp

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var Transformer = new MarkdownSharp.Markdown();
}

<h2>@Model.Title</h2>
<small>@Model.TimeCreated</small>
<div>
@Html.Raw(HttpUtility.HtmlDecode(Transformer.Transform(@Model.Content)))
</div>