@model SynergisticBlog.Models.Post
@using MarkdownSharp

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var Transformer = new MarkdownSharp.Markdown();
}

<h2>@Model.Title</h2>
<small>@Model.TimeCreated.ToShortDateString()</small>
<small>
    <script>
        var idcomments_acct = 'a03105164253d9bf00a8f464ef7445c5';
        var idcomments_post_id;
        var idcomments_post_url;
    </script>
    <script type="text/javascript" src="http://www.intensedebate.com/js/genericLinkWrapperV2.js"></script>
</small>
<div>
@Html.Raw(HttpUtility.HtmlDecode(Transformer.Transform(@Model.Content)))
</div>

<script>
var idcomments_acct = 'a03105164253d9bf00a8f464ef7445c5';
var idcomments_post_id;
var idcomments_post_url;
</script>
<span id="IDCommentsPostTitle" style="display:none"></span>
<script type='text/javascript' src='http://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>